.header {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 60px;
    padding: 8px 0;
    background: lightblue;
    flex: 0 0 auto;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
}
.img {
    object-fit: contain;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personInfo {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.personInfo__link {
    color: black;
    opacity: 1;
    transition: opacity 0.4s;
}
.personInfo__link:hover {
    opacity: .6;
}
.personInfo__count {
    color: green;
}