@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url("./fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url("./fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}
body {
    font-size: 16px;
    letter-spacing: -0.02em;
}
* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1296px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%    ;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body, html, #root {
    height: 100%;
}